.post-item {
    background-color: #2C3E50;
    padding: 20px;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    color: #ECF0F1;
    font-family: 'Arial', sans-serif;
    position: relative;
}

.post-item p {
    line-height: 1.6;
    color: #BDC3C7;
}

.post-item .author-info {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.post-item .author-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    border: 2px solid #8E44AD;
}

.post-item .author-details {
    font-size: 1.2rem;
    color: #BDC3C7;
}

.post-item .blog_title {
    font-size: 2rem;
    font-style: italic;
    margin: 15px 0;
    color: #ECF0F1;
}

.post-item button {
    padding: 10px 20px;
    font-size: 14px;
    background-color: #01020f;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    top: 15px;
    right: 15px;
}

.post-item button:hover {
    background-color: #080e31;
}
